---
---
@import "{{ site.theme }}";
.wrapper {
  max-width: 1040px;
  section {
    max-width: 1040px;
  }
}
#header nav {
  max-width: 1040px;
  li.fork {
    float: right;
  }
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}