---
---
@import "{{ site.theme }}";
.wrapper {
  max-width: 1040px;
  section {
    max-width: 1040px;
  }
}
#header nav {
  max-width: 1040px;
  li.fork {
    float: right;
  }
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
section #title .credits {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
h3 {
  color:#d4e157;
}
ul {
  list-style-image: none;
  list-style-type: square;
}
ul ul, ol ul {
  list-style-image: none;
  list-style-type: circle;
}
.img-header{
  width: 100%;
}

section {
  max-width: 650px;
  padding: 30px 0px 0px 0px;
  margin: 20px 0;
  margin-top: 70px;
}